<div class="container">
  <p-card header="" [style]="{ width: '800px', height:'100%', color: '#495057'}">
    <form class="m-0">
      <div class="logo">
        <img src="../../../assets/logo.png" alt="Rodeio Leilões" />
      </div>
      <div class="user_space">
        <label htmlFor="password">Email: </label>
        <input [(ngModel)]="user.email" name="email" class="p-inputtext-sm" pInputText id="email" aria-describedby="username-help" placeholder="Email"  />
        <small id="username-help">Entre com o seu email para realizar o login.</small>
    </div>
    <div class="password_space">
      <label htmlFor="password">Senha: </label>
      <input [(ngModel)]="user.password" type="password" class="p-inputtext-sm" name="password" pInputText id="password" aria-describedby="password-help" placeholder="Senha"/>
      <small id="password-help">Entre com sua senha para realizar o login.</small>
  </div>
  <div class="button_space">
    <button class="button_login" type="button" (click)="doLogin()">Entrar</button>
</div>
    <p-button [routerLink]="['register']" routerLinkActive="router-link-active"  label="Não possui conta ainda? Cadastre-se aqui" styleClass="p-button-link"></p-button>
    </form>
</p-card>
<div class="image">
  <img src="../../../assets/horse.jpg" alt="Rodeio Leilões" />
</div>
</div>
