.container{
  width: 100%;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.logo{
  width: 40%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

form{
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.user_space{
  margin-top: 2rem;
  width: 468.3px;
}
.password_space{
  width: 468.3px;
}

input{
  margin-top: 5px;
  width: 100%;
  height: 40px;
  font-size: 16px;
}
label{
  font-weight: bold;
}
.button_space{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.password_space{
  margin-top: 2rem;
}
.image{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
img{
  width: 100%;
  height: 100%;
}
button.button_login{
  width: 480.89px;
  height: 40px;
  background-color: #1eff3c;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.6s;
}

button.button_login:hover{
  opacity: 0.7;
}
