<div class="container">
  <p-card header="" [style]="{ width: '800px', height:'100%', color: '#495057'}">
    <form class="m-0">
      <div class="logo">
        <img src="../../../assets/logo.png" alt="Rodeio Leilões" />
      </div>
      <div class="user_space">
        <label htmlFor="password">Email: </label>
        <input class="p-inputtext-sm" pInputText id="username" aria-describedby="username-help" placeholder="Email"/>
        <small id="username-help">Entre com o seu email para realizar o login.</small>
    </div>
    <div class="password_space">
      <label htmlFor="password">Senha: </label>
      <input class="p-inputtext-sm" pInputText id="password" aria-describedby="password-help" placeholder="Senha"/>
      <small id="password-help">Entre com sua senha para realizar o login.</small>
  </div>
  <div class="button_space">
    <p-button [style]="{ width: '463.3px'}" label="Entrar" styleClass="p-button-raised p-button-rounded p-button-success"></p-button>
</div>
    <p-button label="Não possui conta ainda? Cadastre-se aqui" styleClass="p-button-link"></p-button>
    </form>
</p-card>
<div class="image">
  <img src="../../../assets/horse.jpg" alt="Rodeio Leilões" />
</div>
</div>
